.card-row {
    width: 80em;
    margin-top: 3em;
    /* border: 1px solid black; */
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 4px #888888;
}

.card-header {
    padding: 10px 20px;
    border-bottom: 1px solid black;
    margin-top: 2px;
}

.card-header {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.card-icons {
    display: flex;
    align-items: center;
}

.card-icon {
    margin-left: 20px;
}